# Auto detect text files and perform LF normalization
* text=auto

# Linguist language overrides
*.scss linguist-language=JavaScript
*.css linguist-language=JavaScript
*.html linguist-language=JavaScript
images/* linguist-language=JavaScript